.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.wrapper {
  width: 200px;
  display: grid;
  gap: 2rem;
}

.text-field {
  padding: 8px 5px;
}
